BETTER_AUTH_SECRET = "3ebc25b381e87193f29ffea6b6d380dd"
BETTER_AUTH_URL = "http://localhost:5173"
GITHUB_CLIENT_ID = "Ov23lPrQWafjZEgxxxx"
GITHUB_CLIENT_SECRET = "26dff1ea05e0b844a0c4b1f9xxxx"
RESEND_API_KEY = "re_VKngoj4E2qeEjWEXuxxxx"
STRIPE_SECRET_KEY = "ebMFNhmAyG0pJk61eZEDyV00lbE8zN13xxx"
STRIPE_WEBHOOK_SECRET = "lxioA0WPdbUgdTKJKGxxxx"
STRIPE_PRICE_ID ="price_1RCbcJImIdHHa1cxxxx"
ACCOUNT_ID = "a9822fc8759fc35467defe41f5xxx"
ACCESS_KEY_ID = "53bfdf16f67d654fa273a6fcxxx"
SECRET_KEY_ID = "79b779f6401fef8f70743e4e3f0cf0645121d5bb7946d4xxx"
AWS_BUCKET = "flarekit"
AWS_ENDPOINT = "https://flarekit.s3.amazonaws.com"
FREE_STORAGE_LIMIT = 200