#:schema node_modules/wrangler/config-schema.json
name = "flarekit"
compatibility_date = "2024-11-06"
main = "./worker.ts"
assets = { directory = "./build/client" }

[vars]
MY_VAR = "My Value"
BETTER_AUTH_SECRET = ""
BETTER_AUTH_URL = ""
GITHUB_CLIENT_ID = ""
GITHUB_CLIENT_SECRET = ""
RESEND_API_KEY = ""
IMAGE_URL = ""
STRIPE_SECRET_KEY = ""
STRIPE_WEBHOOK_SECRET = ""
STRIPE_PRICE_ID = ""

[[d1_databases]]
binding = "DB"
database_name = ""
database_id = ""
migrations_dir = "drizzle"

[[r2_buckets]]
  bucket_name = ""
  binding = "MY_BUCKET"